html {
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/Addis_Abeba%2C_Ethiopia.jpg/1920px-Addis_Abeba%2C_Ethiopia.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
  color: white;
  background: lighgreen;

}

h1:hover {
  color:green;
  transition: 0.4s;
}
body:hover {
  color: green;
  transition:0.4s;
}
body {
  color: red;
  font-family: 'Quicksand', sans-serif;
  background-size: "cover"

}
img {
  width: 50%;
  height: auto;
}
div {
   width: 50%;
  text-align: center;
  opacity: 0.7;
  color: darkgreen;
  background: gold;
  border: 2px solid;
  border-radius: 10%;
}

.w1 {
  padding-left: 50px;
}
.w1:hover {
  color:white;
  transition: 0.4s;
}

.w2 {
  padding-left: 60px;
}
  .w2:hover {
    color:white;
    transition: 0.4s;
  }

.w3 {
  padding-left: 70px;
}
.w3:hover {
  color:white;
  transition: 0.4s;
}

.w4 {
  padding-left: 80px;
}
.w4:hover {
  color:white;
  transition: 0.4s;
}

.w5 {
  padding-left: 90px;
}
.w5:hover {
  color:white;
  transition: 0.4s;
}

.w6 {
  padding-left: 50px;
}
.w6:hover {
  color:white;
  transition: 0.4s;
}
