html {
  /* background: url("images/aa.jpg") no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#index{
  background: url("images/aa.jpg") no-repeat center center fixed;
}
#aboutme{
  background: url("images/lali.jpg") no-repeat center center fixed;
}
#links{
  background: url("images/village.jpg") no-repeat center center fixed;
}

h1 {
  color: white;
  background: ;

}

h1:hover {
  color:green;
  transition: 0.6s;
}

.page-header {
  text-align: left;
  font-style: 4rem;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  margin: 20px;
  position: fixed;
  left:0;
  right:0;
  top:0;
  bottom: auto;

}
.header-links {
    text-align: right;
    display: inherit;
    position: relative;
    width: auto;
    padding: 15px;
    background-color: none;
    font-size: 15px;
}

.link {
  color: green;
  text-decoration: none;

}

.link:hover {
 color: red;
 transition: .2s;
 background: yellow;
 padding: 5px;
}
body:hover {
  color: green;
  transition:0.4s;
}
body {
  color: red;
  font-family: 'Quicksand', sans-serif;
  background-size: "cover";

}
header{
  text-align: left;

}
main{
  text-align: center;
}

img {
  width: 50%;
  height: auto;
  image-orientation: left;
}

footer {
  width: 100%;
  position: absolute;
  bottom:0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
div {
   width: 50%;
  text-align: center;
  opacity: .9;
  color: darkgreen;
  background: white;
  border: .5px solid;
  border-radius: 10%;
}

}
.w1 {
  padding-left: 0px;

}
.w1:hover {
  color:white;
  transition: 0.4s;
}

#first {
  animation: swipe 2s;
  top: 75px;
}

#second {
  animation: swipe 2s;
  top: 95px;
}

#third {
  animation: swipe 2s;
  top: 115px;
}
#fourth {
  animation: swipe 2s;
  top: 135px;
}
#fifth {
  animation: swipe 2s;
  top: 155px;
}
 .w2 {
  padding-left: 30px;
}
  .w2:hover {
    color:white;
    transition: 0.4s;
  }

.w3 {
  padding-left: 40px;
}
.w3:hover {
  color:white;
  transition: 0.4s;
}

.w4 {
  padding-left: 50px;
}
.w4:hover {
  color:white;
  transition: 0.4s;
}

.w5 {
  padding-left: 90px;
}
.w5:hover {
  color:white;
  transition: 0.4s;
}

.w6 {
  padding-left: 50px;
}
.w6:hover {
  color:white;
  transition: 0.4s;
}
.pic:hover {
text-align: center;
transition: 0.4s;
width:100px;
}

#cf {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}
#cf img.bottom {
  height:299px;
  width: 225px;
}
.allswipe{
  position: absolute;
  background: none;
  left: 90px;
  border: none;
}
@keyframes swipe {
  from {left: -100px;}
  to { left: 90px;}
}
a:hover{
  font-size:20px
}
a{
  text-decoration: none;
  color: yellow;
  transition style: 10s;
  spacing:
}
