h1 {
  color: white;
  background: lighgreen;
}

h1:hover {
  color:green;
  transition: 0.4s;
}
body:hover {
  color: green;
  transition:0.4s;
  background: gold;
}
body {
  color: red;
  background: lightgreen;

}
img {
  width: 50%;
  height: auto;
}
div {
   width: 50%;
  text-align: center;
  opacity: 0.7;
  color: darkgreen;
  background: gold;
  border: 2px solid;
  border-radius: 10%;
}
